.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  background-color: #4de6d4;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.loader:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.loader:before {
  top: -40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite;
}

.loader:after {
  top: -40px;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.3);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
