.nav-logo {
  /* font-family: 'Charmonman', cursive; */
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.2mm;
}

.launch-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 4px;
  padding-left: 8px;
  margin-right: 16px;
  cursor: pointer;
  background-color: #fff;
}

@media screen and (max-width: 700px) {
  .launch-img {
    display: none;
  }
}

.launch-img .launch-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 4px;
  background-color: #eb5e81;
  border-radius: 4px;
  padding: 2px 6px 2px 8px;
}

.launch-img div .tab {
  margin-right: 4px;
}

.launch-img .emoji-icon p {
  font-size: 18px;
}

.nav-underwave {
  top: 20px;
  left: 30px;
  z-index: -1;
}
