@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-solar {
  animation: solar 1s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes solar {
  from {
    transform: translateX(-10px) scale(0.3);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

.animate-target {
  animation: target 0.5s;
}

@keyframes target {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.roll-btn:focus > svg circle {
  -webkit-animation: target 1s ease-in-out;
  animation: target 1s ease-in-out;
}

.roll-btn:focus > svg circle:nth-child(0) {
  animation-delay: 0.1s;
}
.roll-btn:focus > svg circle:nth-child(1) {
  animation-delay: 0.2s;
}
.roll-btn:focus > svg circle:nth-child(2) {
  animation-delay: 0.3s;
}

.roll-btn:active > svg circle {
  -webkit-animation: none;
  animation: none;
}
